// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox{
	text-align: center;

	span{
		font-weight: normal;
	}
}
a#password-reset:hover{
	text-decoration: none;
	background-color: transparent;
	color: #286090;
}



