// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox{
	text-align: center;

	span{
		font-weight: normal;
	}
}
#flash {
	position: absolute;
	margin: 0;
	top: 0px;
	left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    display: none;
    min-width: 400px;
    text-align: center;
    z-index: 2000;
}


