// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uppest {
	margin-top: 50px;
}
.navbar{
	.navbar-right{
		.btn{
			margin-top: 10px;
		}
	}
}
h1{
	text-align: center;
}